.feed{
    flex: 0.6;
    margin: 0 20px;

}

.feed__inputContanier{
    background-color: transparent;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.feed__input{
    display:flex;
    border: 1px solid green;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    color: green;
    
    background-color: transparent;
    width: 630px;
    ;
    
    
    
    

}
.feed__input > form{
    display: none;
    width: 100%;

}
.feed__input >form >input{
    flex: 1;
    margin-left: 10px;
    
    color: green;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
    ;

}

.feed__inputOptions{
    display: flex;
    justify-content: space-evenly;
    color: green;
    width: 630px;
    height: 70px;
    cursor: pointer;
    background-color: transparent;
    margin: 20px;
    padding: 10px;
    margin-top: -21px;
    border: 1px solid green;
    border-radius: 10px;

    
}
.feed__inputContanier:hover{
    background-color: transparent;
    border-radius: 10px;
    color: green;
}
